.form_container {
  .contactform {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    .col {
      display: flex;
      flex-direction: row;
      justify-content: center;
      .text_group {
        display: flex;
        flex-direction: column;
        padding: 0rem 1.5rem 1.5rem 1.5rem;
      }
      label {
        padding-bottom: 0.5rem;
      }
      input {
        padding: 0.3rem;
      }
    }
    textarea {
      resize: none;
    }

    .form_button {
      font-size: 2rem;
      background-color: #bb5a3a;
      border: 0;
      height: 125px;
      width: 125px;
      border-radius: 50%;
      margin-top: 3.5rem;
      color: #fdf2f0;
      cursor: pointer;
    }
    button:hover {
      background-color: #bb5a3abb;
      transition: all 0.3s ease;
    }
  }
}

@include pad {
  .form_container {
    padding-bottom: 1rem;
    .contactform {
      .col {
        .text_group {
          padding: 0 1.5rem 1.5rem 1.5rem;
        }
      }
      .form_button {
        height: 150px;
        width: 150px;
        font-size: 2rem;
        margin-top: 2rem;
      }
      textarea {
        width: 15rem;
      }
    }
  }
}

@include mobile {
  .form_container {
    padding-bottom: 1rem;
    .contactform {
      .col {
        input {
          width: 9rem;
          height: 1.5rem;
        }
        .text_group {
          padding: 0 0.5rem 0.5rem 0.5rem;
        }
      }
      .form_button {
        height: 90px;
        width: 90px;
        font-size: 1.5rem;
        margin-top: 3.5rem;
      }
      textarea {
        width: 13rem;
      }
    }
  }
}
