.greet_container {
  width: 100%;
  height: 60rem;
  background-color: #feeadf;
  .greet_top {
    position: absolute;
    left: 25rem;
    top: 25rem;
    z-index: 10;
    p {
      font-size: 60px;
      font-weight: 400;
      font-style: italic;
      text-align: right;
      text-shadow: 3px 3px 3px #f2b28a;
    }
    h3 {
      font-size: 25px;
      font-weight: 100;
      text-align: right;
      text-shadow: 3px 3px 3px #f2b28a;
    }
  }

  .greet_bottom {
    position: absolute;
    left: 30%;
    top: 15rem;
    z-index: 1;

    img {
      width: 800px;
    }
  }
}

@include pad {
  .greet_container {
    height: 50rem;
    .greet_top {
      position: static;
      padding-top: 20px;
      padding-bottom: 30px;
      P {
        font-size: 25px;
        text-align: center;
      }
      h3 {
        font-size: 20px;
        text-align: center;
      }
    }

    .greet_bottom {
      position: static;
      img {
        width: 100%;
      }
    }
  }
}

@include mobile {
  .greet_container {
    height: 35rem;
  }
}
