.nav_container {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 1rem;
  .nav_grid {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2.5rem;
    margin-top: 0.5rem;
    .list a {
      display: flex;
      .text {
        display: grid;
        align-items: center;
      }
    }
    .list:hover .icon {
      animation: jump 0.3s linear 1 forwards normal;
      display: inline-block;
      transform: translate3d(0, 0, 0);
      @keyframes jump {
        0% {
          transform: translate3d(0, 0, 0);
        }
        100% {
          transform: translate3d(0, -0.5em, 0);
        }
      }
    }
  }
}

.icon {
  width: 70px;
  rect {
    width: 48px;
    height: 48px;
  }
}
