* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif, "Oswald";
  font-family: "Roboto Mono", monospace;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

@mixin pad {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 375px) {
    @content;
  }
}

@import "./footer";
@import "./nav";
@import "./greet";
@import "./about";
@import "./skills";
@import "./project";
@import "./contact";
@import "./contactform";
